<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agregar Actividad De Casa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Titulo de la Actividad</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Formato</ion-label>
    <ion-select okText="Aceptar" cancelText="Cerrar">
      <ion-select-option value={{format}} *ngFor="let format of formats">{{format}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>