<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Clase</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="class && user">
    <ion-card-header>
      <ion-card-subtitle
        >Curso: {{ class.grade }} de Primaria - Paralelo:
        {{ class.parallel }}</ion-card-subtitle
      >
      <ion-card-title>{{ class.subject }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager="true" [options]="sliderConfig">
        <ion-slide>
          <ion-list>
            <ion-list-header>
              Recursos
            </ion-list-header>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
          </ion-list>
          <br />
          <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-slide>
        <ion-slide>
          <ion-list>
            <ion-list-header>
              Actividades
            </ion-list-header>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
          </ion-list>
          <br />
          <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-slide>
        <ion-slide *ngIf="user.role == 'Profesor'">
          <ion-list>
            <ion-list-header>
              Estudiantes
            </ion-list-header>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
          </ion-list>
          <br />
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>
