<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="user">
      <ion-button (click)="shareClass($event)" *ngIf="user.role == 'Profesor'">
        <ion-icon name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Clase</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="class && user">
    <ion-card-header>
      <ion-card-subtitle>Curso: {{ class.grade }} de Primaria - Paralelo:
        {{ class.parallel }}</ion-card-subtitle>
      <ion-card-title>{{ class.subject }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager="true" [options]="sliderConfig">
        <ion-slide>
          <ion-list *ngIf="resources.length > 0; else noResources">
            <ion-list-header>
              Recursos
            </ion-list-header>
            <ion-item button *ngFor="let resource of resources" (click)="openResource(resource)">
              <ion-label>{{ resource.name }}</ion-label>
            </ion-item>
          </ion-list>
          <ng-template #noResources>
            <ion-list>
              <ion-list-header>
                Recursos
              </ion-list-header>
              <ion-item>
                No se publicaron recursos.
              </ion-item>
            </ion-list>
          </ng-template>
          <br />
          <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="user.role == 'Profesor'">
            <ion-fab-button (click)="addResource()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-slide>
        <ion-slide>
          <ion-list *ngIf="activities.length > 0; else noActivities">
            <ion-list-header>
              Actividades
            </ion-list-header>
            <ion-item button *ngFor="let activity of activities" (click)="openActivity(activity)">
              <ion-label>{{ activity.title }}</ion-label>
            </ion-item>
          </ion-list>
          <ng-template #noActivities>
            <ion-list>
              <ion-list-header>
                Actividades
              </ion-list-header>
              <ion-item>
                No se publicaron actividades.
              </ion-item>
            </ion-list>
          </ng-template>
          <br />
          <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="user.role == 'Profesor'">
            <ion-fab-button>
              <ion-icon name="Add"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button (click)=addActivityQuestion()>
                <ion-icon name="clipboard"></ion-icon>
              </ion-fab-button>
              <ion-fab-button (click)=addActivityHome()>
                <ion-icon name="home"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-slide>
        <ion-slide *ngIf="user.role == 'Profesor'">
          <ion-list *ngIf="students.length > 0; else noStudents">
            <ion-list-header>
              Estudiantes
            </ion-list-header>
            <ion-item button *ngFor="let student of students" (click)="openStudent(student)">
              <ion-label>{{student.completeName}}</ion-label>
            </ion-item>
          </ion-list>
          <ng-template #noStudents>
            <ion-list>
              <ion-list-header>
                Estudiantes
              </ion-list-header>
              <ion-item>
                No se resgitraron estudiantes.
              </ion-item>
            </ion-list>
          </ng-template>
          <br />
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>