<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Actividad</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-grid fixed>
        <ion-row class="ion-justify-content-center">
          <ion-card-title
            ><b>{{ activity.title }}</b></ion-card-title
          >
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><b>Descripción: </b></ion-label>
        </ion-item>
        <ion-item>
          <h5>
            {{ activity.description }}
          </h5>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>
              <b>Fecha de publicación: </b>
            </h5>
          </ion-label>
        </ion-item>
        <ion-item>
          <h5>{{ activity.date.seconds * 1000 | date: "medium" }}</h5>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>
              <b>Fecha limite de entrega: </b>
            </h5>
          </ion-label>
        </ion-item>
        <ion-item>
          <h5>{{ activity.deadline.seconds * 1000 | date: "medium" }}</h5>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>
              <b>Formato de archivo: </b>
            </h5>
          </ion-label>
        </ion-item>
        <ion-item>
          <h5>{{ activity.format }}</h5>
        </ion-item>
        <ion-item *ngIf="user.role == 'Estudiante' && textField">
          <ion-label>
            <h5>
              <b>Escribir actividad: </b>
            </h5>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="user.role == 'Estudiante' && textField">
          <ion-textarea required rows="6" placeholder="Escriba la actividad..." [(ngModel)]="textActivity"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="user.role == 'Estudiante' && !activitySent && !textField">
          <ion-label>
            <h5>
              <b>Archivo: </b>
            </h5>
          </ion-label>
        </ion-item>
        <ion-grid fixed *ngIf="user.role == 'Estudiante' && !activitySent" >
          <ion-row *ngIf="file">
            <ion-chip color="primary" mode="ios" outline="true">
              <ion-label>
                <h4>
                  {{ file.file.name }}
                  <ion-icon
                    slot="start"
                    name="trash"
                    (click)="deleteFile()"
                  ></ion-icon>
                </h4>
              </ion-label>
            </ion-chip>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-button
              expand="block"
              (click)="chosenFile.click()"
              fill="outline"
              *ngIf="!file && !textField"
            >
              <ion-icon
                lazy="true"
                slot="start"
                name="folder-outline"
              ></ion-icon>
              <ion-label slot="end">Escoger archivo</ion-label>
              <input
                style="display: none;"
                type="file"
                (change)="selectFile($event)"
                id="file-input"
                [accept]="format"
                #chosenFile
              />
            </ion-button>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-button
              *ngIf="file || textActivity"
              (click)="onSubmit()"
              expand="block"
              color="primary"
              [disabled]="!file && !textActivity"
            >
              <ion-icon slot="start" name="send"></ion-icon>
              Entregar actividad
            </ion-button>
          </ion-row>
        </ion-grid>
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center" *ngIf="activitySent">
            <ion-chip color="primary" mode="ios" outline="true">
              <ion-label>
                <h3>
                  <b>Actividad entregada</b>
                </h3>
              </ion-label>
            </ion-chip>
          </ion-row>
          <ion-row class="ion-justify-content-center" *ngIf="user.role == 'Profesor'">
            <ion-button (click)="seeActivities()" expand="block">
              Ver actividades entregadas
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
