<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Educational App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-card>
          <ion-card-header class="ion-text-center" color="secondary">
            <ion-card-title>Iniciar Sesion</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
              <ion-item>
                <ion-label position="floating"
                  >Nombre Completo <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input
                  required
                  formControlName="completeName"
                  type="text"
                ></ion-input>
                <div
                  class="small form-text text-danger"
                  *ngIf="completeName.touched && completeName.invalid"
                >
                  <div *ngIf="completeName.errors['required']">
                    <ion-text color="danger">
                      <h6>Nombre es requerido</h6>
                    </ion-text>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <ion-label position="floating"
                  >Contrasena <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input
                  required
                  formControlName="password"
                  type="password"
                ></ion-input>
                <div
                  class="small form-text text-danger"
                  *ngIf="password.touched && password.invalid"
                >
                  <div *ngIf="password.errors['required']">
                    <ion-text color="danger">
                      <h6>Contrasena es requerida</h6>
                    </ion-text>
                  </div>
                </div>
              </ion-item>
              <br />
              <ion-button
                expand="block"
                color="primary"
                type="submit"
                shape="round"
                [disabled]="signInForm.invalid"
                class="ion-text-capitalize"
              >
                <h3>Iniciar Sesion</h3>
                <ion-icon slot="end" name="log-in"></ion-icon>
              </ion-button>
            </form>
            <br />
            <ion-text color="tertiary" (click)="goToSignUp()">
              <h6>No tiene una cuenta? Registrarse</h6>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
