<ion-card>
  <ion-card-header>
    <ion-card-title>
      <h2>{{ user.role }}:</h2>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="user">
    <ion-item>
      <h2>Nombre Completo: {{ user.completeName }}</h2>
    </ion-item>
    <ion-item *ngIf="user.email">
      <h2>Correo electronico: {{ user.email }}</h2>
    </ion-item>
    <ng-template [ngIf]="user.role == 'Estudiante'">
      <ion-item>
        <ion-label>Codigo de estudiante:</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="text" [value]="user.id" readonly></ion-input>
      </ion-item>
      <ion-grid fixed>
        <ion-row class="ion-justify-content-center">
          <ion-button (click)="copyCode()" expand="round" color="primary">
            Copiar
          </ion-button>
        </ion-row>
      </ion-grid>
    </ng-template>
  </ion-card-content>
</ion-card>
